body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-align-left {
    text-align: left;
}

img {
    width: 100%;
}

.icon-round {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

ul {
  padding-left: 0;
}

ul li {
    list-style: none;
}

.header {
    width: 960px;
    margin: 0 auto;
    justify-content: space-between;
}

.header h1 {
    background-color: #393E46;
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 0.3rem 2rem;
}

.header nav ul {
}

.header nav ul li {
    padding-left: 3rem;
}

.main-visual {
    width: 100%;
}

.main {
    width: 960px;
    margin: 0 auto;
}

.main h2 {
    font-size: 3rem;
    text-align: center;
}

.main h2 span {
    padding-bottom: 0.3em;
    border-bottom: solid 2px #393E46;
}

section {
    text-align: center;
}

#bicycle .content ul li {
    width: 30%;
}

#about .icon-round {
    margin-right: 2rem;
}



